{% extends "users/base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="col-md-7 mx-auto">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">
                <h4>Edit Profile</h4>
            </div>

            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h5>User Information</h5>
                    {{ user_form.as_p }}

                    <hr>

                    <h5>Profile Information</h5>
                    {{ profile_form.as_p }}

                    <button class="btn btn-success w-100">
                        Save Changes
                    </button>

                </form>

            </div>

        </div>

    </div>
</div>

{% endblock %}